<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-12 mb-5 g-0">
            <img src="/assets/img/gallery/green-planter.jpg" alt="Green Planter" class="img-fluid rounded-3">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="d-flex flex-column align-items-center animate__animated animate__fadeIn">
                <div class="text-center">
                    <h2 class="fc-1">Online sales are currently paused.</h2>
                    <!-- Begin Mailchimp Signup Form -->
                    <article><p class="email-signup text-center my-4">But not forever! Just while new work is being made.</p><h5 class="mb-4 fw-bold">Get notified when when the next sale is live:</h5></article>
                    <form action="https://gmail.us21.list-manage.com/subscribe/post?u=591c7c6014e2160d58a014ef2&amp;id=400d525d6d&amp;f_id=005955e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup-form" target="_self">  
                    <div class="mc-field-group mb-5">
                        <div class="flex-grow-1 mb-3">
                        <input type="email" value="" name="EMAIL" placeholder="your@email.com" class="border border-2 border-danger text-black text-center required email rounded-pill ps-3" id="mce-EMAIL" required>
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div> 
                        <div>
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button submit mt-3 pt-3 pb-2 rounded-pill pe-1"><i class="fa-solid fa-envelope-open-text pe-2"></i>Subscribe</button>
                        </div>
                        <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_591c7c6014e2160d58a014ef2_400d525d6d" tabindex="-1" value=""></div> 
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%include stockists.html %}