<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-12 mb-5 g-0">
            <img src="/assets/img/gallery/green-planter.jpg" alt="Green Planter" class="img-fluid rounded-3">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="d-flex flex-column align-items-center animate__animated animate__fadeIn">
                <div class="text-center">
                    <h2 class="fc-1">Online sales are currently paused.</h2>
                    <!-- Begin Mailchimp Signup Form -->
                    <article><p class="email-signup text-center my-4">But not forever! Just while new work is being made.</p><h5 class="mb-4 fw-bold">Get notified when when the next sale is live:</h5></article>
                    <div class="mlite">
                        <a class="ml-onclick-form pt-2 pb-1 rounded-pill pe-1 text-center" href="javascript:void(0)" onclick="ml('show', 'UCLL6U', true)"><i class="fa-solid fa-envelope-open-text pe-2"></i>Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%include stockists.html %}