<footer>
    <div class="container-fluid hero-footer animate__animated animate__fadeIn">
      <div class="container">
        <div class="row pt-5 pb-5">
          <div class="col-sm-12 col-md-7 text-center text-sm-start">
              <!-- Begin Mailchimp Signup Form -->
            <article><h3 class="email-signup">Sign up for occasional updates about future sales</h3></article>
            {% for item in site.data.newsletter limit:1 %}
                <h5 class="text-white mb-4 header-alt fs-5 alt text-uppercase"><a href="{{item.url}}" alt="{{item.name}}"><i class="fa-solid fa-bullhorn fc-2 pe-2"></i> {{item.name}}</a></h5>
              {% endfor %}
              <div class="mlite">
              <a class="ml-onclick-form pt-2 pb-1 rounded-pill pe-1 text-center" href="javascript:void(0)" onclick="ml('show', 'UCLL6U', true)"><i class="fa-solid fa-envelope-open-text pe-2"></i>Subscribe</a>
              </div>
          </div>
          <div class="col-sm-12 col-md-5 text-center">
            <div class="hstack justify-content-around flex-row-reverse mt-5 mt-md-0 pb-3">
              <h3 class="fw-semibold"><a href="/frequently-asked-questions/">FAQ</a></h3>
              <h3 class="fw-semibold"><a href="/sales/">Sales + Returns</a></h3>
              <h3 class="fw-semibold"><a href="/contact/">Contact</a></h3>
            </div>
            <h3 class="fw-lighter text-center text-sm-end"><a href="https://www.instagram.com/red_letter_clay">Follow on Instagram<span class="text-light ps-3"><i class="fa-brands fa-instagram" alt="Instagram Profile"></i></span></a></h3>
          </div>
        </div>
        <div class="col-12 text-center pb-5">
          <h5 class="pt-2 text-light fw-light text-uppercase alt">© 2023 WEBSITE DESIGN by <a href="https://www.raygun.org" target="_blank"><span class="fw-semibold">RAYGUN</span></a></h5>
          <h6 class="text-light fw-light opacity-50 pt-1">LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL 4.0 INTERNATIONAL LICENSE.</h6>
        </div>
      </div>
    </div>
  </footer>