<div class="product-thumb">
  <div class="icon text-center text-black fw-bold header-alt">
    <span class="rounded-pill bg-white p-4">
      <i class="fa-solid fa-circle text-danger" aria-hidden="true"></i> SOLD!
    </span>
  </div>

  <a href="{{ page.image }}" class="img-fluid glightbox cursor-zoom" data-zoomable="true">
    <img src="{{ page.image }}" class="img-fluid cursor-zoom rounded rounded-3" alt="{{ page.title }}">
  </a>

  {%- comment -%} Additional Images {%- endcomment -%}
  {% if page.image-2 and page.image-3 %}
  <div class="d-flex pt-3 gap-3">
    <a href="{{ page.image-2 }}" class="img-fluid glightbox" data-zoomable="true">
      <img src="{{ page.image-2 }}" class="img-fluid cursor-zoom rounded rounded-3" alt="{{ page.title }} - Image 2">
    </a>
    <a href="{{ page.image-3 }}" class="img-fluid glightbox" data-zoomable="true">
      <img src="{{ page.image-3 }}" class="img-fluid cursor-zoom rounded rounded-3" alt="{{ page.title }} - Image 3">
    </a>
  </div>
  {% elsif page.image-2 %}
  <div class="d-flex pt-4">
    <a href="{{ page.image-2 }}" class="img-fluid glightbox" data-zoomable="true">
      <img src="{{ page.image-2 }}" class="img-fluid cursor-zoom rounded rounded-3" alt="{{ page.title }} - Image 2">
    </a>
  </div>
  {% endif %}

  {% if page.image-4 %}
  <div class="d-flex pt-3">
    <a href="{{ page.image-4 }}" class="img-fluid glightbox" data-zoomable="true">
      <img src="{{ page.image-4 }}" class="img-fluid cursor-zoom rounded rounded-3" alt="{{ page.title }} - Image 4">
    </a>
  </div>
  {% endif %}
</div>