{%- comment -%} Product Header {%- endcomment -%}
{% assign weight_lb = page.weight-g | divided_by: 453.592 %}
{% assign local_price = page.price | times: 0.85 | money %}
<div class="hstack align-items-start justify-content-between border-bottom-0 border-right-0 border border-2 pt-3 px-3">
  <div>
    <h2 class="fc-1 pe-2">{{ page.name }}</h2>
  </div>
  <div>
    <h2 class="text-black text-end">${{ page.price }}
      {% if page.sale-price %}
      <span class="text-decoration-line-through opacity-25 fw-light pe-3">${{ page.sale-price }}</span>
      <br><span class="text-start alt sale text-danger fs-4">
        <i class="fa-solid fa-certificate"></i> ON SALE
      </span>
      {% endif %}
    </h2>
  </div>
</div>
<div class="text-black text-end px-3 text-end eyebrow text-muted fc-6 opacity-75 pb-2 pb-md-0">LOCAL PICK-UP PRICE</div>
<div class="hstack px-3 justify-content-end gap-0">
  <h2 class="text-black text-end fs-3 text-muted opacity-75"><a alt="Local Price" aria-disabled="true"
      data-bs-toggle="tooltip"
      data-bs-title="Receive 15% off your order with local pick-up in Chicago."
      class="text-muted"><i class="fa-solid fa-map-pin opacity-75"></i> ${{local_price}}</a></h2>
</div>

{%- comment -%} Product Description {%- endcomment -%}
<article class="ps-3">
  <p>{{ page.description }}</p>
  {% if page.description-2 %}
  <p>{{page.description-2}}</p>
  {% endif %}
  {% if page.process %}
  <p class="text-end"><a href="{{page.process}}"><i class="fa-regular fa-circle-right pe-2"></i>Behind the making</a></p>
  {% endif %}
</article>

{%- comment -%} Product Details {%- endcomment -%}
{% if page.height or page.weight or page.width or page.holds %}
<div class="d-none d-md-flex align-items-bottom">
  <h5 class="alt w-semibold fst-italic px-3">
    <i class="fa-solid fa-tag fc-1"></i> DETAILS
  </h5>
  <hr class="flex-grow-1 me-3 border-2 animate__animated animate__zoomIn ps-5">
</div>
<ul class="details ps-3">
  {% if page.holds %}
  <li><i class="fa-solid fa-caret-right pe-2 fc-7"></i><span class="fw-normal">Holds</span>: {{ page.holds }}</li>
  {% endif %}
  {% if page.weight-g %}
  <li><i class="fa-solid fa-caret-right pe-2 fc-7"></i><span class="fw-normal">Weight</span>: {{ weight_lb | round: 2 }}
    pounds</li>
  {% endif %}
  {% if page.height %}
  <li><i class="fa-solid fa-caret-right pe-2 fc-7"></i><span class="fw-normal">Height</span>: {{ page.height }}</li>
  {% endif %}
  {% if page.width %}
  <li><i class="fa-solid fa-caret-right pe-2 fc-7"></i><span class="fw-normal">Width</span>: {{ page.width }}</li>
  {% endif %}
  {% if page.length %}
  <li><i class="fa-solid fa-caret-right pe-2 fc-7"></i><span class="fw-normal">Length</span>: {{ page.length }}</li>
  {% endif %}
</ul>
{% endif %}

{%- comment -%} Add to Cart Section {%- endcomment -%}
<div class="row add_cart pt-3">
  <div class="col-12 mx-auto">
    <button
      class="btn btn-primary pt-3 pb-2 pe-4 mb-3 rounded-pill w-100 snipcart-add-item animate__animated animate__flipInX animate__delay-1s"
      data-item-id="{{ page.sku }}" data-item-url="{{ site.url }}{{ page.url }}" data-item-price="{{ page.price }}"
      data-item-description="{{ page.description }}"
      data-item-image="{{ site.url }}/assets/img/shop/live/{{ page.thumb }}" data-item-weight="{{ page.weight-g }}"
      data-item-name="{{ page.name }}">
      <i class="fa-solid fa-circle-plus p-2"></i> Add to Cart
    </button>

    {%- comment -%} Product Features {%- endcomment -%}
    <div class="pt-4">
      {% if page.dishwasher %}
      <hr class="border-2 mx-3">
      <div class="hstack justify-content-center pt-2">
        <h5 class="text-uppercase alt"><i class="fa-solid fa-utensils fc-1 pe-2"></i>Food safe</h5>
      </div>
      {% endif %}
      {% if page.food %}
      <div class="hstack justify-content-center">
        <h5 class="text-uppercase alt"> <i class="fa-solid fa-shield fc-1 pe-2"></i>Microwave and dishwasher safe</h5>
      </div>
      {% endif %}
      <hr class="border-2 mx-3">
    </div>
    {% if page.firing-method %}
    <h6>
      <div class="hstack justify-content-between px-3 pt-3">
        <div><i class="fa-solid fa-dungeon pe-2 fc-7"></i><span class="fw-normal">Firing Method</span>:</div>
        <div>{{ page.firing-method }}</div>
      </div>
    </h6>
    {% endif %}

    {%- comment -%} SKU {%- endcomment -%}
    <h6 class="text-end mb-5">
      <div class="hstack justify-content-between px-3">
        <div><i class="fa-solid fa-barcode fc-7 pe-1"></i> SKU:</div>
        <div>{{ page.sku }}</div>
      </div>
    </h6>

    {%- comment -%} Continue Shopping Button {%- endcomment -%}
    <div class="pt-4 pb-2">
      <a href="/shop/" class="text-center pt-3 pb-2 pe-4 mb-3 fw-semibold btn btn-outline-primary rounded-pill w-100">
        <i class="fa-solid fa-cart-shopping fc-7 pe-2 no-anim"></i> Continue Shopping
        <i class="fa-solid fa-angles-right fc-7 slide"></i>
      </a>
    </div>
  </div>
</div>