<script>
  (async () => {
    const url = new URL('https://faas-nyc1-2ef2e6cc.doserverless.co/api/v1/web/fn-02bd4a9b-cb71-49b3-966d-654becd1fccd/default/GetProduct');
    url.searchParams.set('productId', '{{ page.sku }}');
    
    try {
      const response = await fetch(url);
      if (!response.ok) throw new Error(`Unexpected response status: ${response.status}`);
      
      const { stock } = await response.json();
      
      const onLoaded = (callback) => {
        if (document.readyState === 'loading') {
          document.addEventListener("DOMContentLoaded", callback);
        } else {
          callback();
        }
      };
      
      onLoaded(() => {
        const html = document.getElementsByTagName('html')[0];
        html.classList.add('stock-determined');
        if (stock === 0) html.classList.add('out-of-stock');
      });
    } catch (err) {
      console.error({ err });
    }
  })();
</script>