{%- comment -%} Shipping Info {%- endcomment -%}
    <div">
      <h3 class="fw-medium text-center pb-3">
        <i class="fa-solid fa-route fc-7"></i> {{ site.data.ecommerce.local-pick-up-headline}}
      </h3>
      <p class="text-center">
        {{ site.data.ecommerce.local-pick-up-copy}}
      </p>
      <h3 class="fw-medium text-center pb-3 mt-5">
        <i class="fa-solid fa-truck fc-7"></i> {{ site.data.ecommerce.shipping-headline}}
      </h3>
      <p class="text-center">
        {{ site.data.ecommerce.shipping-copy}}
      </p>
    </div>