<div class="container stockists">
    <div class="row animate__animated animate__fadeIn bg-red rounded-2 px-3 py-5 mb-5 justify-content-center">
        <div class="col-12 col-md-8">
            <h3 class="fw-medium text-center"><i class="fa-solid fa-store fc-7"></i> Stockists</h3>
            <hr class="border-3 pb-4">
            
            {% for stockist in site.data.stockists %}
            <div class="d-flex gap-3 mb-5 align-items-center">
                <div class="flex-fill {% if stockist.current == false %}out-of-stock{% endif %}">
                    <div class="product-thumb">
                        <div class="icon text-center fs-5 text-black fw-bold header-alt">
                            <a href="{{ stockist.url }}" class="text-black"><span class="rounded-pill bg-white p-4"><i
                                        class="fa-solid fa-circle text-danger pe-2" aria-hidden="true"></i> OUT OF STOCK</span></a>
                        </div>
                        <img src="{{ stockist.thumb }}" alt="{{ stockist.name }}" class="img-fluid border border-white border-3">
                    </div>
                </div> 
                <div class="flex-fill">
                    <h3 class="text-center text-md-start"><a href="{{ stockist.url }}" target="_blank" alt="{{ stockist.name }}" class="text-white">{{ stockist.name }}</a></h3>
                    <p>{{ stockist.info }}</p>
                    <h3 class="fs-5 text-center text-md-end"><a href="{{ stockist.map }}" target="_blank"><i class="fa-solid fa-map pe-2" aria-hidden="true"></i>{{ stockist.address }}</a></h3>
                </div>
            </div>
            {% unless forloop.last %}
            <hr class="border-3 pb-4">
            {% endunless %}
            {% endfor %}
            
        </div>
    </div>
</div>