svg#stamp {
  position: relative;
  display: inline-block;
  height: 3.6rem;
  z-index: 50;
}

.fc-1 {
  color: #c12121;
}

.fc-2 {
  color: #F9E1B7;
}

.fc-3 {
  color: #6E4E3C;
}

.fc-4 {
  color: #FFEEEF;
}

.fc-5 {
  color: #FFCED1;
}

.fc-6 {
  color: #8C5C40;
}

.fc-7 {
  color: #A73838;
}

.header-alt {
  font-family: "Bitter", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background: #ffffff;
  color: #6E4E3C;
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 2.1rem;
  font-size: 1.3em;
}

.card-event {
  width: 400px;
}
@media (max-width: 768px) {
  .card-event {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .card-event {
    width: 25%;
  }
}

body p {
  margin-bottom: 1.2em;
}

body span.alt-font {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-family: "Bitter", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 4.8rem;
  line-height: 4.4rem;
}

h1.ital {
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.2rem;
}

h1.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: 0.06rem;
  padding-top: 10px;
  color: #c12121;
}

@media (max-width: 800px) {
  h1.navbar-brand {
    font-size: 1.6rem;
  }
}
h1.rlc {
  color: #c12121;
  text-transform: uppercase;
  font-weight: 700;
  font-kerning: 4%;
}

h2 {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #8C5C40;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

h3 {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #8C5C40;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

h3.navbar-nav {
  color: black;
  line-height: 1.9em;
}

h4 {
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.9rem;
}

h5 {
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 2.1rem;
}

h5.alt, h4.alt {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0.05em;
}

h6 {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.bg-dark {
  color: white;
}

.bg-gallery {
  background-color: rgb(26, 26, 26);
  color: white;
}

.cart {
  animation: fadeIn;
}
@media (width <= 1200px) {
  .cart {
    margin-top: 100px;
  }
}
@media (width >= 1201px) {
  .cart {
    margin-top: 25px;
  }
}

.cart-block {
  min-width: 80px;
  min-height: 57px;
}

.border-thumb {
  border-color: #c12121 !important;
}

.out-of-stock .product-thumb {
  position: relative;
  display: inline-block;
}

.icon {
  display: none;
  width: 100%;
  font-size: 2em;
  position: absolute;
  color: white;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.out-of-stock .product-thumb img {
  opacity: 0.6;
}

.out-of-stock .product-thumb .icon {
  padding: 1em;
  display: block;
}

.out-of-stock div.add_cart {
  display: none;
}

.border-cart {
  border-color: #A73838 !important;
  background-color: #FFEEEF;
}

.snipcart-items-count {
  font-family: "Bitter", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-width: 8px;
  min-height: 5px;
  display: inline-block;
}

.snipcart-modal__container {
  z-index: 999;
}

.nav-stick, .cart {
  z-index: 20;
}

.card {
  --bs-card-spacer-y: 0rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-cap-padding-y: 0rem;
  --bs-card-cap-padding-x: 1rem;
}

blockquote {
  border-color: #FFEEEF;
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-right-width: 0px;
  border-left-width: 0px;
}

blockquote.event {
  border-color: #F9E1B7;
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.shadow-fc7 {
  filter: drop-shadow(1px 1px 0px rgba(167, 56, 56, 0.6));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(167, 56, 56, 0.3);
}

main a {
  color: #c12121;
  text-decoration: none;
  transition: 1s;
}

main a:hover {
  color: #A73838;
}

main a i {
  transition: 1s;
}

main a:hover i.slide {
  color: #c12121;
  animation: slideOutRight 1s infinite ease-out;
}

a.ul {
  color: #c12121;
  text-decoration: none;
  border-style: dotted;
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.navbar-nav a, .navbar a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-bottom: 1px;
  background-image: linear-gradient(#c12121 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.navbar-nav a:hover, .navbar a:hover {
  border-color: #c12121;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.hero-footer a, .sub-footer a {
  text-decoration: none;
  border: 0px;
}

.navbar-nav a.active, .navbar a.active {
  color: #A73838;
}

h1.navbar-brand a.active {
  color: #c12121 !important;
  text-decoration: none;
}

ul.details {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: none;
  list-style: none;
  font-size: 1.25rem;
  padding-left: 0.75em;
}

div#player {
  display: block;
}

.cursor-zoom {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.hero-footer a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-bottom: 1px;
  background-image: linear-gradient(#c12121 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.hero-footer a:hover {
  color: white;
  text-decoration: none;
  border-color: #c12121;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

input.email {
  display: inline-block;
  min-height: 50px;
  padding: 6px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  box-shadow: rgba(10, 10, 10, 0.05) 0 1px 4px 0 inset;
  width: 95%;
}

.btn-secondary {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  background: #F9E1B7;
  filter: drop-shadow(2px 4px 0px #8C5C40);
  border: 0;
  transition: 1s;
}

@media only screen and (min-width: 768px) {
  .btn-secondary:hover {
    color: black;
    background: #F9E1B7;
    filter: drop-shadow(2px 4px 0px #A73838);
  }
}
@media only screen and (min-width: 768px) {
  .btn-secondary:focus {
    color: black !important;
    background-color: #FFCED1 !important;
  }
}
.btn-primary {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  background-color: #c12121;
  filter: drop-shadow(2px 4px 0px #A73838);
  border: 0;
}

@media only screen and (min-width: 768px) {
  .btn-primary:hover {
    background-color: #FFCED1;
    filter: drop-shadow(2px 4px 0px #6E4E3C);
    color: #6E4E3C;
  }
}
@media only screen and (min-width: 768px) {
  .btn-primary:focus {
    background-color: #c12121 !important;
    color: white;
  }
}
.carousel-item {
  transition: transform 1s ease;
}

.fade-in {
  animation: fadeIn;
  animation-duration: 2s;
}

.sub-footer {
  background-image: url("/assets/img/Paper.png");
  position: fixed;
  background-position: left left;
  background-color: #F9E1B7;
  border-color: white;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  position: relative;
  height: 100%;
  width: 100vw;
  right: 0;
  top: 0;
  left: 0;
}

.hero-field {
  background-image: url("/assets/img/field.png");
  background-size: cover;
  position: relative;
  background-position: top center;
  min-height: 443px;
}

.hero-footer {
  background-size: fixed;
  -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -o-background-size: fixed;
  background-position: top center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/hero-footer.png");
}

.hero-footer h3 {
  color: white !important;
}

.border-primary {
  --bs-border-opacity: 1;
  border-color: rgba(110, 78, 60, var(--bs-border-opacity)) !important;
}

.ls-0 {
  letter-spacing: 0px;
}

.ls-1 {
  letter-spacing: 0.08rem;
}

button#mc-embedded-subscribe.button {
  background-color: #E2D3C1;
  color: #351F0D;
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0rem;
  background-color: #F9E1B7;
  filter: drop-shadow(2px 4px 0px #6E4E3C);
  border: 0;
  text-transform: capitalize;
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 200px;
  transition: 0.3s;
}

@media only screen and (min-width: 768px) {
  button#mc-embedded-subscribe.button:hover {
    background-color: #FFCED1;
  }
}
@media only screen and (min-width: 768px) {
  button:hover i, a.btn:hover i {
    animation: tada 1s infinite linear;
    transition-timing-function: ease-out;
    transition: 0.1s;
  }
}
div#mc_embed_signup input {
  display: inline-block;
}

.form-input {
  color: #A73838;
  border-color: rgb(210, 210, 210);
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  box-shadow: rgba(10, 10, 10, 0.05) 0 1px 4px 0 inset;
}

.form-textarea {
  font-family: #6E4E3C;
  color: #A73838;
  font-size: 1.2rem;
  display: block;
  min-height: 350px;
  border-color: rgb(210, 210, 210);
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  box-shadow: rgba(10, 10, 10, 0.05) 0 1px 4px 0 inset;
}

.gslide-desc {
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 1.3rem !important;
}

.gclose gbtn {
  color: #c12121 !important;
  fill: #c12121 !important;
}

.snipcart-input__input {
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.4rem;
}

.snipcart__font--secondary, .snipcart__font--subtitle, .snipcart__font--subtitle-small {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.snipcart-button-primary, .snipcart-button-secondary {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  background-color: #c12121;
  filter: drop-shadow(2px 4px 0px #A73838);
  border: 0;
  border-radius: var(--bs-border-radius-pill);
}

.snipcart-button-link {
  color: #A73838;
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0;
  padding-bottom: 1px;
  background-image: linear-gradient(#c12121 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.snipcart-button-link:hover {
  color: #c12121 !important;
  border-color: #c12121;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-secondary:hover {
  background-color: #FFCED1 !important;
  color: #351F0D;
}

.snipcart-button-icon.is-secondary {
  background-color: #FFCED1;
}

.snipcart-base-button__label {
  color: white;
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  padding-top: 4px;
}

.snipcart-base-button__label:hover {
  color: #A73838;
}

.snipcart-button-primary:hover, .snipcart-button-secondary:hover {
  background-color: #FFCED1;
  filter: drop-shadow(2px 4px 0px #6E4E3C);
  color: #6E4E3C !important;
}

.snipcart-button-primary:focus, .snipcart-button-secondary:focus {
  background-color: #c12121 !important;
  color: #6E4E3C;
}

.snipcart-cart__secondary-header-title, .snipcart-summary-fees__title--highlight {
  font-size: 1.6rem;
  color: #A73838;
}

.snipcart-summary-fees__item {
  font-size: 1.2rem;
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.snipcart-cart__footer-buttons {
  margin-bottom: 20px;
}

.snipcart-cart-summary-items-list {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 800;
}

.snipcart-summary-fees__notice {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  padding-bottom: 5px;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
}

.snipcart-cart-summary-item, .snipcart-form__label, .snipcart-shipping-address__subtitle, .snipcart-shipping-rates-list-item--right, legend {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.snipcart__box--badge {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
}

.snipcart__box--badge-highlight {
  background-color: #FFEEEF;
}

.snipcart__font--slim, .snipcart-form__label {
  font-weight: 400;
}

.snipcart__notice--with-icon {
  font-size: 1.2rem;
}

.snipcart-modal__close-title {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  padding-bottom: 5px;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}

.snipcart-input__input, .snipcart-textbox, .snipcart-form__select {
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
  text-transform: none;
  color: #A73838;
}

.snipcart-form__select {
  padding-top: 0;
  padding-bottom: 0;
}

.snipcart-layout__content--side {
  border-left: 2px;
  border-color: #FFCED1;
  border-style: dotted;
}

.snipcart-cart-header__icon, .snipcart-modal__close, .snipcart-cart-header__close-button, .snipcart-cart-header .snipcart-modal__close-icon, .snipcart-billing-completed .snipcart-checkout-step__icon, .snipcart-shipping-completed .snipcart-checkout-step__icon {
  color: #A73838;
}

.snipcart-summary-fees__amount {
  font-weight: 600;
  font-size: 1.4rem;
}

.snipcart-cart__secondary-header {
  background-color: white;
}

.snipcart-cart-header {
  background-color: white;
}

.snipcart__font--std {
  font-family: "Mohave", -apple-system, BlinkMacSystemFont, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.snipcart-item-line--cart-edit .snipcart-item-line__image {
  min-height: 100px;
  min-width: 100px;
}

.snipcart-item-line--cart-edit {
  border-color: #FFCED1;
}

.snipcart-item-line__media {
  min-height: 100px;
  min-width: 100px;
}

.snipcart-item-line__content {
  display: flex;
  flex-direction: row;
}

.snipcart-item-description {
  background: #ffffff;
  color: black;
  font-family: "Gelasio", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 100;
  line-height: 2rem;
  font-size: 1.25em;
}

.snipcart-item-quantity__quantity {
  display: none;
  min-width: 200px;
}

.snipcart-item-line__product {
  display: flex;
  flex-direction: column;
}

.snipcart-item-quantity__label {
  display: none;
}

div.snipcart-featured-payment-methods {
  display: none;
}

/*# sourceMappingURL=main.css.map */