* {
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    --bs-navbar-color: #083429;
    --bs-navbar-toggler-border-color: #083429;
    --bs-border-width: 3px;
}

p {
    margin-bottom: 2.5rem;
}

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: clone-rounded-latin, sans-serif;
}

body {
    margin: 0;
    background-color: #083429;
    color: white;
    --nav-load-time: 900ms;
    line-height: 2.6rem;
   /* font-family: "oso-serif-variable", sans-serif; */
   font-family: halyard-text, sans-serif;
    font-size: 1.8rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

body a {
    color: #D841D2;
}

nav.defined {
    background-color: rgb(255, 255, 255);
    animation: nav-load var(--nav-load-time) ease-out;
    font-family: halyard-light, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
}

.navbar-white {
    background-color: rgb(255, 255, 255);
}

#navbarSupportedContent {
    z-index: 2;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}


.floating {
    background-color: rgb(255, 255, 255, 0.6);
    animation: nav-load var(--nav-load-time) ease-out;
    font-family: clone-rounded-latin, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
}

g#envelope {
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.8);
    animation: glide var(--nav-load-time) ease-out;
}

g#logo-text {
    animation: nav-load var(--nav-load-time) ease-out;
    display: block;
    fill: #064032;
    enable-background: true;
    flood-color: white;
}

.img-gallery img {
    padding: 1em;
    display: inline-block;
}

.img-gallery .cursor-zoom:hover {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
  }

.hero-home {
        background: url('/assets/img/hero-bottles.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        height:95vh;
}

nav li {
    list-style: none;
    color:rgba(3, 36, 28);
    line-height: 2.5em;
}

nav a {
    color: inherit;
    text-transform: uppercase;
    position: relative;
}

nav a.nav-link {
    background-image: linear-gradient(
        to right,
        #d371cd,
        #d371cd 50%,
        #000  50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 1px 0;
      position: relative;
      -webkit-background-clip: text;
      background-clip:text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
}

nav a.nav-link:before {
    content: '';
    background: #d371cd;
    display: block;
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

nav a.nav-link:hover {
    background-position: 0;
}
nav a.nav-link:hover::before {
    width: 100%;
}

.img-hero {
    margin-top: 30px;
    --bs-gutter-x: 0 !important;
}

section.origin {
    background: #FFFFFF;
    color: #351F0D;
    --bs-gutter-x: 0rem !important;
}

section#contact a {
    color:#d371cd;
}

article.landing-intro {
    padding: 5rem;
}

section#wad {
    padding-top: 2em;
}

footer {
    padding-bottom: 30px;
}

h5.footer {
    font-family: halyard-text, sans-serif;
    text-transform: uppercase;
    padding-top: 30px;
    opacity: 0.7;
    color:#acacac;
}

.texture-cotton {
    background-image: url('/assets/img/texture/Cotton.jpg');
    background-color: #713715;
    background-blend-mode: multiply;
    opacity: 1;
    position: absolute;
}

.texture-watercolor {
    background-image: url('/assets/img/texture/watercolor-mountains.jpg');
    background-color: hsl(165, 85%, 8%);    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

footer section:first-child {
    padding-top: 20px;
}

div#mc_embed_signup {
    font-size: 0.9em;
}

.gslide-desc {
    color:#083429 !important;
}

.gallery-desc {
    display: block;
    margin-top: -30px;
}

.bg-mountain {
    background-image: url('/assets/img/rock-formation.png');
    background-repeat: no-repeat;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

input#mc-embedded-subscribe.button {
    background-color: #E2D3C1;
    color: #351F0D;
    text-transform: capitalize;
    font-family: clone-rounded-latin;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    min-width: 200px;
}

div#mc_embed_signup input {
    display: inline-block;
}


.insta-light {
    color: #E2D3C1;
}

div.origin p {
    color: #351F0D;
}

h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 4.6rem;
}

h3.email-signup {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

form.signup-form {
    padding-bottom: 3.5rem;
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes glide {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      background-position: 0% 0%; }
  
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      background-position: 100% 100%; } }
  
  @-moz-keyframes glide {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100%);
      background-position: 0% 0%; }
  
    100% {
      opacity: 1;
      -moz-transform: translateX(0%);
      background-position: 100% 100%; } }

      @-webkit-keyframes drop {
        0% {
          opacity: 0;
          -webkit-transform: translateY(-100%); }
      
        20% {
          opacity: 1;
          -webkit-transform: translateY(0px); }
      
        80% {
          opacity: 1;
          -webkit-transform: translateY(0px); }
      
        100% {
          opacity: 0;
          -webkit-transform: translateY(100%); } }

          /* SVG CSS */
          .st0{fill:#064032;}
          .st1{fill:#FFFFFF;}
          .st2{fill:#064032;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
          .st3{font-family:clone-rounded-latin, sans-serif;font-weight: 800;}
          .st4{font-size:25.8966px;}
          .st5{font-size:26px;}

          /*A g will be appended to the animation name so bounceIn will become gbounceIn */
        .gpulse {
          animation: pulse 0.5s ease;
        }

        @-webkit-keyframes pulse {
          from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }

          50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
          }

          to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
        }
        @keyframes pulse {
          from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }

          50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
          }

          to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
        }
        .animate__pulse {
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
        }
