<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include header.html %}

<body>
  {% include local-pickup-banner.html %}
  {% include snipcart.html %}
  {% include nav.html %}
  {% if page.layout == 'shop' or page.layout == 'product' %}
  {% include product-tag-filter.html %}
  {% endif %}
  {%- comment -%} Tag Filter Section {%- endcomment -%}
  <main class="overflow-x-hidden">

    {%- comment -%} Product Details Section {%- endcomment -%}
    <div class="container">
      <section class="product animate__animated animate__fadeIn mt-5">
        <div class="container-fluid">
          <div class="row">

            {%- comment -%} Product Images Column {%- endcomment -%}
            <div class="col-lg-8 mb-5 order-1">
              {% include product-images.html %}
            </div>

            {%- comment -%} Product Info Column {%- endcomment -%}
            <div class="col-lg-4 order-2">
              {% include product-info.html %}
            </div>

          </div>
            {% if page.featured-image %}
            <div class="row py-3 mb-5">
              <div class="col text-center">
                <a href="{{page.featured-image}}" class="glightbox" data-zoomable="true">
                  <img src="{{page.featured-image}}" class="img-fluid cursor-zoom rounded rounded-3" alt="{{ page.name }} - Featured Image">
                </a>  
              </div>
            </div>
            {% endif %}
          {%- comment -%} Shipping Info {%- endcomment -%}
          <div class="row align-items-top mt-5do ">
            <div class="col-12 col-md-4">
              <h3 class="fw-medium text-center">
                <i class="fa-solid fa-route fc-7"></i> {{ site.data.ecommerce.local-pick-up-headline}}
              </h3>
              <p class="text-center">
                {{ site.data.ecommerce.local-pick-up-copy}}
              </p>
            </div>
            <div class="col-12 col-md-4 pt-0">
              <h3 class="fw-medium text-center">
                <i class="fa-solid fa-truck fc-7"></i> {{ site.data.ecommerce.shipping-headline}}
              </h3>
              <p class="text-center">
                {{ site.data.ecommerce.shipping-copy}}
              </p>
            </div>
            <div class="col-md-12 col-lg-4 align-self-top">
            <h3 class="fw-medium pb-3 text-center"><i class="fa-solid fa-circle-check fc-7"></i> Plan for Success</h3>
              <p class="text-center px-3 px-md-0">If possible, consider shipping to a business address where packages are often received and brought inside quickly. Postal workers often throw boxes over gates onto hard surfaces and while each order is packaged carefully, this extra step helps.</p>
          </div>
          </div>
        </div>
      </section>
    </div>

    {% comment %} Related Products (if declared) {% endcomment %}
    <div class="container">
      {% include product-related.html %}
    </div>

    {%- comment -%} Hero Field Spacer {%- endcomment -%}
    <div class="container-fluid hero-field"></div>

    {%- comment -%} Calendar Section {%- endcomment -%}
    <div class="container-fluid sub-footer animate__animated animate__fadeIn pb-5" id="calendar">
      {% include calendar.html %}
    </div>

    {% include footer.html %}
  </main>

  {%- comment -%} Stock Check Script {%- endcomment -%}
  {% include product-stock-check.html %}

  {%- comment -%} External Scripts {%- endcomment -%}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/90da15346b.js" crossorigin="anonymous"></script>

  {%- comment -%} GLightbox Initialization {%- endcomment -%}
  <script>
    const lightbox = GLightbox({
      touchNavigation: true,
      loop: true,
      openEffect: 'bounce',
      cssEfects: {
        bounce: { in: 'pulse', out: 'pulse' }
      },
      closeEffect: "none",
      autoplayVideos: true
    });
  </script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

  {%- comment -%} Google Analytics {%- endcomment -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BM1ZCVJZ0G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-BM1ZCVJZ0G');
  </script>
</body>

</html>